

.container-signup {
    background-color: #191B30;
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Ensures particles stay within the viewport */
}


.signup-container-signup {
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    background: white; /* White to light gray gradient */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow-y: auto;
      /* Hide scrollbar */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */

}

.signup-container-signup::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.h2-signup {
    text-align: center;
    margin-bottom: 20px;
    color: #191B30;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form-signup .input-group-signup {
    margin-bottom: 15px;
}

.signup-form-signup .label-signup{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left; /* Align input labels to the left */
}

.signup-form-signup .input-signup {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form-signup .signup-btn-signup {
    width: 100%;
    padding: 10px;
    background-color: #191B30;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-form-signup .signup-btn-signup:hover {
    background-color: #F47D4B;
    color: #191B30;
}

.error {
    color: red;
    font-size: 12px;
}

/* Link to login page */
.signup-container .p-signup {
    text-align: center;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.signup-container .p-signup .a {
    color: #F47D4B;
    text-decoration: none;
    font-weight: bold;
}

.signup-container .p-signup .a:hover {
    text-decoration: underline;
}

/* Particle animation */
.particle-signup {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(244, 125, 75, 0.7);
    border-radius: 0; /* Square particles */
    opacity: 0;
    transform: rotate(45deg); /* Initial angle */
    animation: float-upwards infinite, rotate-particle infinite; /* Add rotation animation */
}

/* Keyframes for floating upwards */
@keyframes float-upwards {
    0% {
        transform: translateY(0) rotate(0deg); /* Start at original position */
        opacity: 0;
    }
    50% {
        opacity: 1; /* Become visible midway */
    }
    100% {
        transform: translateY(-100vh) rotate(360deg); /* Move to top and complete a 360-degree rotation */
        opacity: 0;
    }
}

