.progress-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color:#f5f5f5;
  
  }
  
  .homepage-sidebar{
    z-index:100;
  }

  .progress-dashboard {
    display: flex;
    height: 100%;
    background-color: #1F2247;
    margin-left:50px;
    overflow-y: auto;
}



.left-side-panel {
  position: fixed;
    width: 20%;
    background-color: #191B30;
    border-right: 2px solid #191B30;
    border:2px solid  #191B30;
    border-right: 5px solid #ef822a;
    height: 100vh;
    z-index:20;
    
}

.left-side-panel h2{
  color: white;
}

.left-side-panel ul {
    list-style-type: none;
    padding: 0;
}

.left-side-panel .work-title {
    padding: 10px;
    background-color: #191B30;
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-side-panel .work-title:hover,
.left-side-panel .work-title.selected {
    background-color: #fff;
    color: #191B30;
}

.progress-main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns of equal width */
  grid-gap: 20px; /* Add space between the grid items */
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  margin-left: 300px;
}

.page-title{
  font-size: 10px;
  font-family: sans-serif;
  position: relative;
  margin-left: 10px;
}

.goal-setting,
.current-progress,
.writing-stats,
.achievements,
.inspirational-quotes,
.journal-reflection,
.writing-schedule {
  background-color:#fafcffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

