.explore-main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

.explore-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    height: 50px;
    padding: 5px 10px;
    background-color: white;
    border-bottom: 0.5px solid gray;
    position: sticky;
    top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-header {
    flex-direction: row;
}

/* Logo Container */
.explore-header-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
   
}




/* Logo Icon */
.explore-logo-icon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
  
}



/* Logo Text */
.explore-logo-text {
    font-family: monospace;
    font-size: 18px;
    margin-left: -5px;
    font-weight: 600;
    cursor: pointer;
    padding-top:6px;
    padding-bottom:6px;
    padding-left: 3px;
    padding-right: 3px;
    transition: background-color 0.2s ease;
    border-radius: 10px;
}

.explore-logo-text:hover {
    background-color: #e6e9f0; /* light greyish-blue color */
    border-radius: 10px;
    color: rgb(7, 46, 98);

    
}

/* Navigation Styles */
.explore-header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0;
}

.explore-header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 40px;
    
}

.explore-header nav ul li {
    font-size: 15px;
    padding: 7px 12px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: black;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
    border-radius: 7px;
    
    cursor: pointer;
}


.explore-header nav ul li:hover {
    background-color: #e6e9f0; /* light greyish-blue color */
    border-radius: 7px;
    color: rgb(7, 46, 98);

    
}

/* Profile Container */
.explore-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    
}

.explore-profile-container:hover {
    background-color: #e6e9f0; /* light greyish-blue color */
    border-radius: 10px;
    color: rgb(7, 46, 98);

    
}

/* Profile Icon */
.explore-profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 2px solid #191B30;
}

/* Profile Name */
.explore-profile-name {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
    max-width: 150px;
}

.explore-sidebar{
    border-right: 1px solid gray ;
    width: 60px;
    height: 100vh;
}

.explore-sidebar-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

/* Logo Icon */
.explore-sidebar-logo-icon {
    width: 60px;
    height: 60px;
    margin-top: 0;
    cursor: pointer;
}

.explore-sidebar-profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.explore-sidebar-profile-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid #191B30;
    cursor: pointer;
}

.explore-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.explore-sidebar ul li {
    list-style-type: none;
    
}

.explore-sidebar ul li img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.explore-sidebar ul li:hover{
    background-color: rgb(239, 234, 230);

}


@media screen and (max-width: 1150px) {
    .explore-header {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    
    .explore-sidebar {
        display: none;
    }
}

.explore-body{
    display: flex;
    flex-direction:row;
}

.explore-left-sidepanel{
    width: 100%;
    background-color: white;
    padding:10px;
}


.explore-awards {
    background-color: gold;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    overflow-y: auto;
}

.explore-awards {
    /* ... existing styles ... */

    /* Custom scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #666 #f8e231;
}

.explore-awards::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.explore-awards::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.explore-awards::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.explore-awards::-webkit-scrollbar-track {
    background-color: #f8e231;
    border-radius: 10px;
}

.explore-awards h2 {
    margin-top: 0;
    font-size: 16px;
}

.award-item {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.award-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.award-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    text-overflow: ellipsis;
}

.award-info h3 {
    margin-bottom: 5px;
    font-size: 13px;
}

.explore-best-sellers {
    background-color: #fa9c10;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 250px;
    overflow-y: auto;
}

.explore-best-sellers {
    /* ... existing styles ... */

    /* Custom scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #666 #fa9c10;
}

.explore-best-sellers::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.explore-best-sellers::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.explore-best-sellers::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.explore-best-sellers::-webkit-scrollbar-track {
    background-color: #fa9c10;
    border-radius: 10px;
}

.explore-best-sellers h2 {
    margin-top: 0;
    font-size: 16px;
}

.best-seller-item {
    display: flex;
    margin-bottom: 20px;
}

.best-seller-item img {
    width: 50px;
    height: 70px;
    margin-right: 10px;
}

.best-seller-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    text-overflow: ellipsis;
}

.best-seller-info h3 {
    margin-bottom: 5px;
    font-size: 13px;
}

.explore-awards ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.explore-best-sellers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.explore-main-content-container{
    margin-right: 40px;
    margin-left: 20px;
}

.explore-searchbar-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    justify-self: center;
 

}

.explore-searchbar-container p{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 200;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;

}


.explore-searchbar-input{
    padding:0px;

}

.explore-searchbar-input-field{
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 2px solid black;

}




/* CSS */
.explore-advanced-search-btn {
    margin-top: 20px;
    --b: 1px;   /* reduced border thickness */
    --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 14px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.explore-advanced-search-btn:hover,
.explore-advanced-search-btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
  background-color: #22252a;
  color: white;
  border-radius: 3px;
 
}

.explore-advanced-search-btn:active {
  background: var(--color);
  color: #fff;
}


.advanced-search-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.advanced-search-form-field {
    margin-bottom: 20px;
}

.advanced-search-form-field label {
    display: block;
    margin-bottom: 10px;
}


.explore-navigation-container{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    justify-self: center;
}


.explore-new-releases {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    min-width: 1000px;
    max-width: 1000px;
    

}

.explore-new-releases p{

    font-weight: 500;
    font-size: 16px;
    color: white;
    justify-items: flex-start;
    background-color: black;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index:10px;
    margin-top: 0px;

}

.explore-new-releases-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: whitesmoke;
    min-width: 1000px;
    max-width: 1000px;
    padding: 10px;
    border: 1px solid black;
    z-index: 1px;
    height: 170px;
    max-height: 170px;
    margin-top: 0px;
    border-radius: 2px;
    
}


.explore-new-releases-list::-webkit-scrollbar {
    height: 8px;
    background-color: #fff;
}

.explore-new-releases-list::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}

.explore-new-releases-list::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.explore-new-releases-list::-webkit-scrollbar-track {
    background-color: #fff;
}

.explore-new-releases-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    flex: 0 0 auto;
    transition: transform 0.2s ease-in-out;
}



.explore-new-releases-book-cover {
    width: 75px;
    height: 125px;
    object-fit: cover;
    border: 1px solid black;
    cursor: pointer;
    
    
}

.explore-new-releases-book-title {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    width: 100px; /* adjust this value to your desired minimum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    
}

.book-title-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    pointer-events: none;
    cursor: pointer;
}

.explore-new-releases-book:hover .book-title-tooltip {
    display: block;
    cursor: pointer;
}

.book-feature-title-tooltip{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    pointer-events: none;
    cursor: pointer;
}

.explore-featured-books-book:hover .book-feature-title-tooltip{
    display: block;
    cursor: pointer;
}



.explore-featured-books{
    
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    min-width: 1000px;
    max-width: 1000px;
    

}

.explore-featured-books p{

    font-weight: 500;
    font-size: 16px;
    color: white;
    justify-items: flex-start;
    background-color: black;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index:10px;
    margin-top: 0px;

}

.explore-featured-books-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: whitesmoke;
    min-width: 1000px;
    max-width: 1000px;
    padding: 10px;
    border: 1px solid black;
    z-index: 1px;
    height: 170px;
    max-height: 170px;
    margin-top: 0px;
    border-radius: 2px;
    
}


.explore-featured-books-list::-webkit-scrollbar {
    height: 8px;
    background-color: #fff;
}

.explore-featured-books-list::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}

.explore-featured-books-list::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.explore-featured-books-list::-webkit-scrollbar-track {
    background-color: #fff;
}

.explore-featured-books-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    flex: 0 0 auto; /* add this to prevent flexbox from resizing the items */
}

.explore-featured-books-book-cover {
    width: 75px;
    height: 125px;
    object-fit: cover;
    border: 1px solid black;
    cursor: pointer;
    
    
}

.explore-featured-books-book-title {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    width: 100px; /* adjust this value to your desired minimum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    
}

.book-title-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    pointer-events: none;
    cursor: pointer;
}

.explore-new-releases-book:hover .book-title-tooltip {
    display: block;
    cursor: pointer;
}

.explore-right-sidepanel{
    width: 100%;
    background-color: #efe9dc;
    margin-top: -10px;
   
}

.book-copyright {
    font-size: 12px;
    color: #999;
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}




@media screen and (max-width: 1150px) {
    .explore-body {
        flex-direction: column;
    }

    .explore-left-sidepanel {
        width: 100%;
        background-color: white;
    }

    .explore-main-content-container {
        margin: 20px;
    }

    .explore-searchbar-container {
        width: 100%;
    }

    .explore-searchbar-input-field {
        width: 100%;
    }

    .explore-new-releases {
        min-width: 100%;
        max-width: 100%;
    }

    .explore-new-releases-list {
        min-width: 100%;
        max-width: 100%;
    }

    .explore-featured-books {
        min-width: 100%;
        max-width: 100%;
    }

    .explore-featured-books-list {
        min-width: 100%;
        max-width: 100%;
    }
}


.MuiOutlinedInput-root {
    height: 40px !important;
}

.MuiOutlinedInput-input {
    padding: 10px !important;
    height: 40px !important;
}

.MuiFormLabel-root{
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-top: -6px;
}


.advanced-search-modal-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    margin: 40px auto;
    margin-left: -10px;
}

.advanced-search-modal-container h2 {
    margin-top: 0;
    font-weight: 500;
}

.advanced-search-form-field {
    margin-bottom: 20px;
}

.advanced-search-form-field label {
    display: block;
    margin-bottom: 10px;
    justify-content: center;
}

.advanced-search-form-field input[type="text"] {
    width: 90%;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    
}

.advanced-search-form-field select {
    width: 95%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.advanced-search-modal-container button[type="submit"] {
    background-color:#191B30;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #191B30;

}

.advanced-search-modal-container button[type="submit"]:hover {
    background-color: #ffffff;
    color:black ;
    border: 2px solid black;
}

