/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    background: radial-gradient(circle at center, #FFA07A, #ADD8E6); /* Radial Gradient: Dark Orange to Dark Blue */
    width: 100%;
  }

  
  .login-logo-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 1%;
  }
  

  .login-logo-image{
    width: 70px;
    height: 70px;
  }

  .login-logo-text{
    font-size: 30px;
    font-family:fantasy;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
 

  }


  
  .login-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    max-width: 1200px; /* Optional: Max width for larger screens */
  }
  
  .animation-section,
  .form-section {
    flex: 1;
    padding: 20px;
     

  }
  
  .animation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:transparent; /* Optional: Background color for animation */
    border-radius: 8px;
    margin-top: -20px;
    margin-right: 20px; /* Space between animation and form */
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .subtitle {
    color: black; /* Optional: Subtitle color */
    margin-bottom: 24px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Responsive Design: Stack vertically on small screens */
  @media (max-width: 768px) {
    .login-flex-container {
      flex-direction: column;
    }
  
    .animation-section,
    .form-section {
      padding: 10px;
      margin: 0;
    }
  
    .animation-section {
      margin-bottom: 20px; /* Space between animation and form on small screens */
    }
  }
  